// É possivel utilizar códigos de css dentro do scss.

// Variaveis
$bg-color: #EEE;
$title-background: #333;
$main-color: #fff;

// SCSS
.container {
    background-color: $bg-color;
    padding: 20px;

    // Esse é o id
    #title {
        background-color: $title-background;
        color: $main-color;
        text-align: center;
        padding: 10px;
    }
}

// CSS
.container-bottom {
    background-color: blue;
    padding: 50px;
    text-align: center;
}